footer {
  background-color: $footer-color;
  padding: 13px;
  text-align: center;
  width: 100%;

  span {
    margin-left: 3px;
  }

  a {
    background: black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    height: 5em;
    margin: 0 1em;
    padding: 0.5em 1em;

    img {
      display: inline;
    }

    &:hover, &:active, &:visited {
      box-shadow: 2px 2px #AAA;
      color: white;
    }
  }
}
