@import 'partials/buttons';

section.get-started {
  @include outer-container;

  article {
    margin-bottom: 80px;
  }

  article.steps {
    @include span-columns(8);
    @include shift(2);
  }

  article.docs {
    @include clearfix;
  }

  article.book {
    img {
      @include span-columns(4);
    }

    div {
      padding-left: 30px;
      @include span-columns(6);
    }

    h2 {
      text-align: left;
    }
  }

  pre {
    padding: 20px 60px;
    margin: 5px 0 50px 0;
    border-radius: 3px;
  }
}
