@import 'partials/buttons';

section.get-started {
  @include outer-container;

  margin-bottom: 100px;

  article {
    margin-bottom: 80px;
  }

  article.steps {
    @include span-columns(8);
    @include shift(2);
  }

  article.docs {
    @include clearfix;
  }

  article.book {
    img {
      @include span-columns(4);
    }

    div {
      padding-left: 30px;
      @include span-columns(6);
    }

    h2 {
      text-align: left;
    }
  }

  article.screencast {
    clear: both;
    padding-top: 30px;

    img {
      @include span-columns(4);
    }

    div {
      padding-left: 30px;
      @include span-columns(6);
    }

    h2 {
      text-align: left;
    }
  }
}
