section.get-started {
  @include outer-container;

  article {
    @include span-columns(8);
    @include shift(2);
  }

  pre {
    padding: 20px 60px;
    margin: 5px 0 50px 0;
    border-radius: 3px;
  }
}
