header {
  background-color: $header-color;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 940px;
    padding: 8px;

    h1 {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-weight: 300;

      img {
        margin-right: 8px;
      }

      a {
        color: black;
        padding-bottom: .1em;
        text-decoration: none;
      }
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: row;

      li {
        margin: 0 1em;

        a {
          color: $heading-color;
        }
      }
    }
  }
}
