@import "application";

section {
  @include outer-container;
  padding-top: 3em;

  article {
    @include span-columns(10);
    @include shift(1);

    h2 {
      font-size: 3em;
      padding: 1em;
    }

    p {
      font-size: 1.1em;
    }

    ol {
      list-style-type: decimal;
    }
  }
}
