@import "application";

section {
  padding: 3em 2em;

  @media (max-width: 767px) {
    padding: 1em 12px;
  }

  article {
    margin: 0 auto;
    max-width: 720px;

    h2 {
      font-size: 3em;
      padding: 1em;
    }

    p {
      font-size: 1.1em;
    }

    ol {
      list-style-type: decimal;
    }
  }
}
