// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 60px;
$gutter: 20px;
// $grid-columns: 12;
$max-width: 940px;

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$small-screen: new-breakpoint(min-width em(540) 2);
$medium-screen: new-breakpoint(min-width em(760) 4);
$large-screen: new-breakpoint(min-width em(920) 8);
$visual-grid: false
