//= normalize

@import "normalize.css.scss";
@import "asciinema-player.css.scss";
@import "bourbon/bourbon";
@import "partials/variables";
@import "bitters/bitters";
@import "neat/neat";
@import "partials/header";
@import "partials/footer";
@import "partials/code";

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

hr {
  margin: 77px auto;
  width: 220px;
}

article {
  margin-bottom: 77px;
}

img.needs-border {
  border: 1px solid #021a40;
}

iframe.centered {
  display: block;
  margin: 20px auto;
}

@media (max-width: 767px) {
  body {
    word-wrap: break-word;
  }

  .youtube {
    width: 100%;
  }
}
