//= normalize

@import "bourbon";
@import "partials/variables";
@import "bitters/bitters";
@import "neat";


@import "partials/header";
@import "partials/footer";
@import "partials/code";

hr {
  margin: 77px auto;
  width: 220px;
}

article {
  margin-bottom: 77px;
}

