@import "../partials/standard_article";
@import "../partials/dropdown";

@media (max-width: 767px) {
  section article {
    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1em;
    }
  }
}

h2:first-child {
  padding-bottom: .5em;
}

article > ul {
  li {
    padding-bottom: 1em;
  }
}

table {
  margin-bottom: 3em;

  tr {
    td {
      @include dropdown;

      ul {
        margin: 2.8em 0 0 0;
      }
    }
  }
}
