@import "./../application";
@import "partials/hero";
@import "partials/features";
@import "partials/get_started";

section article.book {
  h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
