---
title: "RSpec Blog"
pageable: false
---
<section class='blog_index'>
  <h2>Blog</h2>
  <% page_articles(current_blog_name).each do |article| %>
    <h3><%= link_to article.title, article.url %></h3>
    <p>
      <%= article.data.author %>
      <small><%= article.date.strftime('%b %e, %Y') %></small>
    </p>
  <% end %>
</section>
