section
  article.history
    h2 History

    p
      | RSpec began life in 2005 as an experiment by Steven Baker. It was taken
        over by David Chelimsky who brought it into the limelight as a behaviour
        driven style development tool. David also built rspec-rails, which provided
        tight integration with #{link_to 'Ruby on Rails', 'http://rubyonrails.org/'}.

    p
      | RSpec 1.0 was released in May of 2007, and included many of the
        features that are still present in RSpec today.
        RSpec 1's runner had many great features but had reached a point where it was
        slow and hard to continue evolving it.

    p
      | In late 2008, Chad Humphries built
        #{link_to 'Micronaut', 'https://github.com/spicycode/micronaut'},
        a new spec runner, to address these problems. Micronaut also included a new
        metadata system that provided much greater flexibility than RSpec 1 had.

    p
      | In early 2010, after the release of RSpec 1.3, David and Chad
        #{link_to 'began working on RSpec 2', 'http://blog.davidchelimsky.net/blog/2010/01/24/rspec-20-in-the-works/'}.
        The project got split into separate, modular pieces that could be used
        individually or all together. Micronaut was used as the basis of rspec-core,
        the new runner. #{link_to 'RSpec 2 was released', 'http://blog.davidchelimsky.net/blog/2010/10/10/rspec-200-is-released/'}
        in October 2010 after nearly a year of effort.

    p
      | In November 2012, after leading the project for 6 years, David decided to
        #{link_to 'move on to other things', 'http://blog.davidchelimsky.net/blog/2012/11/28/myron-marston-and-andy-lindeman-are-rspecs-new-project-leads/'}.
        He asked Myron Marston to take over as lead RSpec maintainer and Andy
        Lindeman to take over as lead rspec-rails maintainer.

    p
      | #{link_to 'Work on RSpec 3', 'http://myronmars.to/n/dev-blog/2013/07/the-plan-for-rspec-3'}
        began in July 2013 and it
        #{link_to 'was released in June 2014', 'http://myronmars.to/n/dev-blog/2014/06/rspec-2-99-0-and-3-0-0-have-been-released'}.
        RSpec 3 was a bit of a "spring cleaning" for RSpec, removing much cruft
        (some of which dated back to RSpec 1!). It also provided
        #{link_to 'verifying doubles', 'http://rhnh.net/2013/12/10/new-in-rspec-3-verifying-doubles'},
        #{link_to 'composable matchers', 'http://myronmars.to/n/dev-blog/2014/01/new-in-rspec-3-composable-matchers'},
        a new syntax that allows RSpec to be used with no monkey patching, and
        #{link_to 'many other new features', 'http://myronmars.to/n/dev-blog/2014/05/notable-changes-in-rspec-3'}.
        Andy Lindeman retired from the team and asked Aaron Kromer to take over as rspec-rails maintainer.

    p
      | Today, RSpec continues to improve and evolve thanks to the input of a large
        community and the work of hundreds of contributors.
