---
team:
  -
    name:    Myron Marston
    pic:     myron_m.png
    web:     http://myronmars.to/n
    twitter: myronmarston
    github:  myronmarston
  -
    name:    Jon Rowe
    pic:     jon_r.png
    web:     http://jonrowe.co.uk
    twitter: JonRowe
    github:  JonRowe
  -
    name:    Sam Phippen
    pic:     sam_p.png
    web:     http://samphippen.com/
    twitter: samphippen
    github:  samphippen
  -
    name:    Xavier Shay
    pic:     xavier_s.png
    web:     http://xaviershay.com
    twitter: xshay
    github:  xaviershay
  -
    name:    Aaron Kromer
    pic:     aaron_k.png
    web:     http://aaronkromer.com/
    twitter: cupakromer
    github:  cupakromer
  -
    name:    Yuji Nakayama
    pic:     yuji_n.png
    web:     http://yujinakayama.me/
    twitter: nkym37
    github:  yujinakayama

alumni:
  -
    name:    Dave Astels
    pic:     dave_a.png
    web:     http://blog.daveastels.com
    twitter: dastels
    github:  dastels
  -
    name:    Steven Baker
    pic:     steven_b.png
    twitter: srbaker
    github:  srbaker
  -
    name:    David Chelimsky
    pic:     david_c.png
    twitter: dchelimsky
    github:  dchelimsky
  -
    name:    Aslak Hellesøy
    pic:     aslak_h.png
    web:     http://aslakhellesoy.com/
    twitter: aslak_hellesoy
    github:  aslakhellesoy
  -
    name:    Chad Humphries
    pic:     chad_h.png
    web:     http://spicycode.com/
    twitter: spicycode
    github:  spicycode
  -
    name:    Justin Ko
    pic:     justin_k.png
    twitter: justinko
    github:  justinko
  -
    name:    Andy Lindeman
    pic:     andy_l.png
    web:     http://andylindeman.com
    twitter: alindeman
    github:  alindeman
  -
    name:    Pat Maddox
    pic:     pat_m.png
    web:     http://patmaddox.com/
    twitter: patmaddox
    github:  patmaddox
  -
    name:    Luke Redpath
    pic:     luke_r.png
    web:     http://www.lukeredpath.co.uk/
    twitter: lukeredpath
    github:  lukeredpath
  -
    name:    Bradley Schaefer
    pic:     bradley_s.png
    twitter: soulcutter
    github:  soulcutter
---
section
  article.history
    h2 History

    p
      | RSpec began life in 2005 as an experiment by Steven Baker, it was taken
        over by David Chelimsky who brought it into the limelight as a behaviour
        driven style development tool.

  //hr
  // article.philosophy
    h2 Philosophy

    p
      | TBC

div.people

  h2.title Minds Behind the Scene

  div.team-list
    h4 THE TEAM
    - for team in current_page.data['team']
      div.box
        = image_tag team.pic, alt: team.name, class: "media-object"
        div.desc
          div= team.name
          - if team.web
            = link_to team.web do
              = image_tag 'link.png', alt: "website"
          - if team.twitter
            span.img-thumbnail
              = link_to "https://twitter.com/#{team.twitter}" do
                = image_tag 'twitter-icon.png', alt: "twitter"
          - if team.github
            span.img-thumbnail
              = link_to "https://github.com/#{team.github}" do
                = image_tag 'github-icon.png', alt: "github"
  hr
  div.alumni-list
    h4 THE ALUMNI
    - for alum in current_page.data['alumni']
      div.box
        = image_tag alum.pic, alt: alum.name, class: "media-object"
        div.desc
          div= alum.name
          - if alum.web
            = link_to alum.web do
              = image_tag 'link.png', alt: "website"
          - if alum.twitter
            span.img-thumbnail
              = link_to "https://twitter.com/#{alum.twitter}" do
                = image_tag 'twitter-icon.png', alt: "twitter"
          - if alum.github
            span.img-thumbnail
              = link_to "https://github.com/#{alum.github}" do
                = image_tag 'github-icon.png', alt: "github"
